<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.neighbours">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventDetail" />
        <activity android:name=".CampaignDetail" />
        <activity android:name=".ComplaintDetail" />
        <activity android:name=".NotificationDetail" />
        <activity android:name=".create_notification" />
        <activity android:name=".create_complaint" />
        <activity android:name=".CreateEvent"></activity>
        <activity android:name=".Testing" />
        <activity android:name=".CreateCampaign" />
        <activity android:name=".MyFlat" />
        <activity android:name=".create_notification" />
        <activity
            android:name=".CampaignList"
            android:label="@string/title_activity_campaign_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>